<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683084504706-u3khnim0dvcjpdpoinjnldq6fotpfnd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683084504706-u3khnim0dvcjpdpoinjnldq6fotpfnd9</string>
	<key>API_KEY</key>
	<string>AIzaSyDUqHGjipWddOHPU6BH62_DziVgRE9HQCI</string>
	<key>GCM_SENDER_ID</key>
	<string>683084504706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.austingoetz.HypeFirebase</string>
	<key>PROJECT_ID</key>
	<string>hypefirebase-e970a</string>
	<key>STORAGE_BUCKET</key>
	<string>hypefirebase-e970a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683084504706:ios:506ca9851b572087421e9b</string>
	<key>DATABASE_URL</key>
	<string>https://hypefirebase-e970a.firebaseio.com</string>
</dict>
</plist>